.lable  {
  display: flex;
  justify-content: center;
  background-color: #3CB371;
}
.lable_pic  {
  width:50px;
  height:50px;
}
.nav  {
  background-color :#98FB98;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content  {
  background-color: #A9A9A9
}
.even  {
  background-color : #A9A9A9;
}
.odd  {
  background-color: #708090;
}
.table_form  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form  {
  order: 1;
}
.table-container  {
   text-align: center;
   width: 100%;
   overflow-y: auto;
   overflow: auto;
   border-collapse: collapse; 
   order: 2;
   justify-content: center;
}
 td,th  {
   padding: 5px; 
   border: 1px solid black;
}
footer  {
  text-align: center;
  background-color: #A9A9A9;
}
@media screen and (min-width: 600px)  {
  .lable_pic  {
  width:100px;
  height:100px;
}
.lable_text{
  font-size:80px;
}
  .nav  {
  display: flex;
  justify-content: space-around;
  flex-direction: row; 
  }
  .table-container {
    order:1;
  }
  form  {
    order:2;
  }
}